@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-*: initial;
  --color-primary: #00aeef;
  --color-primary-tranparent: #00aeef55;
  --color-dark: #1a1a1a;
  --color-light: #f5f7fa;
  --color-white: #ffffff;
  --color-accent: #003f5f;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100dvw;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Poppins";
}

* {
  font-family: "Work Sans";
}