---
import PrimaryButton from "../components/PrimaryButton.astro";
---

<header class="relative min-h-[75vh]" id="index">
  <!-- Capa oscura -->
  <div
    class="absolute inset-0 bg-[linear-gradient(180deg,#0C1836_26%,#F2295B00_100%)] opacity-75 z-10"
  >
  </div>

  <!-- Video de fondo -->
  <video
    class="absolute inset-0 w-full h-full object-cover"
    src="/video-banner.mp4"
    autoplay
    loop
    muted
    playsinline></video>

  <!-- Contenido -->
  <section
    class="absolute inset-0 z-20 flex flex-col items-center justify-center xl:gap-16 gap-16 px-6 text-center"
  >
    <main class="mt-10 xl:mt-20 w-full max-w-4xl">
      <h1
        class="text-white text-3xl xl:text-5xl md:text-6xl lg:text-7xl font-bold leading-tight sm:leading-tight md:leading-snug"
      >
        Clean Energy Solutions for a Brighter Future
        <span class="block text-base sm:text-xl md:text-2xl font-normal mt-4">
          Leading the Way in Global Solar Innovation
        </span>
      </h1>
    </main>
    <PrimaryButton>
      <a href="#contact">
        <span class="uppercase text-sm sm:text-base md:text-lg">Get A Free Quote</span>
      </a>
    </PrimaryButton>
  </section>
</header>
