---
const { type = "buttom" } = Astro.props;
---

<button
  type={type}
  class="text-dark font-semibold rounded-3xl bg-primary w-fit px-10 py-3 text-lg hover:bg-accent hover:text-white"
>
  <slot />
</button>
