<nav class="bg-white fixed top-0 w-full z-30">
  <ul class="flex flex-row flex-wrap justify-between w-3/4 m-auto">
    <li class="list-none">
      <img src="/Vista Logos/logo-png.png" alt="Maelo solar Logo" width="400" />
    </li>
    <ul class="uppercase flex flex-row align-bottom gap-16 text-dark">
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href=""> Home</a>
      </li>
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href="">
          Roofing</a
        >
      </li>
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href=""> About</a>
      </li>
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href="">
          Contact Us</a
        >
      </li>
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href="">
          Affiliates</a
        >
      </li>
    </ul>
    <ul class="flex flex-row gap-12 w-1/4">
      <li><a href="/"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="/"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="/"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </ul>
</nav>
<style>
  ul li {
    display: flex;
    align-items: center;
  }
</style>
