<nav class="bg-white fixed top-0 w-full z-30">
  <ul class="flex flex-row flex-wrap justify-center 2xl:justify-between 2xl:w-3/4 m-auto gap-30">
    <li class="list-none">
      <img src="/Vista Logos/logo-png.png" alt="Maelo solar Logo" width="300" />
    </li>
    <ul class="uppercase flex-row align-bottom 2xl:gap-16 gap-10 text-dark hidden xl:flex">
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href="/"> Home</a>
      </li>
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href="#about">
          About Us</a
        >
      </li>
      <li>
        <a class="hover:border-primary hover:border-b-2 transition duration-200" href="#contact">
          Contact Us</a
        >
      </li>
    </ul>
    <ul class="xl:flex flex-row gap-12 hidden">
      <li><a href="/"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="/"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="/"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </ul>
</nav>
<style>
  ul li {
    display: flex;
    align-items: center;
  }
</style>
